.userGrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  border: 0.5px solid black;
  padding: 20px 40px;
  border-radius: 5px;
}

.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 480px) {
  .userGrid {
    padding: 20px;
    border: 0px;
  }
}
